main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

h3 {
  padding: 1rem 0;
}

.product-header {
  max-height: 75%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.product-img {
  /* width: 425px; */
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.product {
  height: 610px;
}

.product-body {
  position: absolute;
  bottom: 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

button {
  margin-top: 1rem;
}

.img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

/* .create-product-btn {
  display: flex;
  justify-content: end;
} */
